<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Travlr.</title>
  <link rel="stylesheet" th:href="@{/styles/index.css}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>
  <main class="d-flex">
  
    <!-- Side Navigation Bar -->
    <div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark min-vh-100" style="width: 280px; position: fixed; left: 0px; right: 0px;">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <svg class="bi pe-none me-2" width="40" height="32">
          <use xlink:href="#bootstrap" />
        </svg>
        <span class="fs-4">Travlr.</span>
      </a>
      <hr>
      <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
          <a th:href="@{/home}" class="nav-link active" aria-current="page">
            Dashboard
          </a>
        </li>
      </ul>
      <hr>
      <div class="dropdown">
        <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
          data-bs-toggle="dropdown" aria-expanded="false">
          <img src="https://avatars.githubusercontent.com/u/117494437?s=96&v=4" alt="" width="32" height="32"
            class="rounded-circle me-2">
          <strong><span th:text="${user.getUserName}"></span></strong>
        </a>
        <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
          <li><button class="dropdown-item" data-bs-toggle="modal" data-bs-target="#newItineraryForm">New
              itinerary...</button></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item" th:href="@{/logout}">Sign out</a></li>
        </ul>
      </div>
    </div>
    <!-- / Side Navigation Bar -->

    
    <!-- Main Content -->
    <div class="mt-1 container-fluid" style="margin-left: 280px;">
      <div th:if="${errorMessage}" class="alert alert-info mt-2" role="alert">
        <span th:text="${errorMessage}"></span>
      </div>
      <!-- Empty Itinerary -->
      <div th:if="${itineraries == null || itineraries.size == 0}">
        <div class="cover-container d-flex w-100 h-100 p-3 mx-auto row">
          <main class="px-3">
            <h1>Looking kinda empty here.</h1>
            <p class="lead">Start by adding an itinerary</p>
            <div class="d-flex justify-content-center">
              <img width="600px" height="auto" class="img-fluid" src="https://www.dailypaws.com/thmb/JplNgE-ozTy983Q8Ye2PVw231UA=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/do-cats-cry-3-1370446355-2000-75d902230d36418d9ed8b43123b29481.jpg" alt="">
            </div>
          </main>
        </div>
      </div>
      <!-- Empty Itinerary -->

      <div th:each="iti, iterStat : ${itineraries}">
        <div class="card mb-3" style="max-width: 800px;">
          
          <!-- Row -->
          <div class="row g-0">
            <div class="col-md-4">
              <img
                src="https://images.pexels.com/photos/1905054/pexels-photo-1905054.jpeg?cs=srgb&dl=pexels-loc-dang-1905054.jpg&fm=jpg"
                class="img-fluid rounded-start" alt="...">
            </div>
            <!-- Itinerary Card -->
            <div class="col-md-8 card">
              <!-- Body -->
              <div class="card-body d-flex flex-column">
                <h1 class="card-title m-4">
                  <span><img th:src="@{/icons/chevright_icon.svg}" alt=""> </span><span th:text="${iti.name}"></span>
                </h1>
                <p class="card-text m-4">
                  <span><img th:src="@{/icons/chevright_icon.svg}" alt=""> </span><span th:text="${iti.description}"></span>
                </p>
                <p class="card-text mt-auto">
                  <span><img th:src="@{/icons/flag_icon.svg}" alt=""> </span><span class="text-body-secondary font-monospace" th:text="${iti.country}"></span>
                </p>
              </div>
              <!-- /Body -->
              <!-- Footer -->
              <div class="card-footer text-end">
                <a th:href="@{'/itinerary/' + ${user.getUserName}} + '/' + ${iterStat.index + '/delete'}" 
                  class="btn btn-outline-danger"><img th:src="@{/icons/delete_icon.svg}" alt=""></a>             
                <a th:href="@{'/itinerary/' + ${user.getUserName}} + '/' + ${iterStat.index}"
                  class="btn btn-outline-success"><img th:src="@{/icons/open_icon.svg}" alt=""></a>
              </div>
              <!-- /Footer -->
            </div>
          </div>
          <!-- /Row -->

        </div>
      </div>
    </div>
    <!-- / Main Content -->
  </main>

  <!-- Modal -->
  <div class="modal fade" id="newItineraryForm" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">New Itinerary</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <form th:method="post" th:action="@{/create}">
          <div class="modal-body">
            <div class="input-group mb-1">
              <span class="input-group-text">Name</span>
              <input type="text" name="name" class="form-control" minlength="5" required>
            </div>
            <div class="input-group mb-1">
              <span class="input-group-text">Country</span>
              <!-- <input type="text" name="country" class="form-control" minlength="5"> -->
              <select name="country" id="">
                <option th:each="country: ${T(nus.iss.travlr.utility.CountryService).country}" th:value="${country}" th:text="${country}"></option>
              </select>

            </div>
            <div class="input-group">
              <span class="input-group-text">Description</span>
              <textarea name="description" class="form-control"></textarea>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Create</button>
          </div>
        </form>

      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
</body>

</html>