<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travlr.</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/styles/map.css}" />
    <script type="module" th:src="@{/scripts/map.js}"></script>
    <style>
      .card-img-top {
        width: 100%;
        height: 10vw;
        object-fit: cover;
      }
    </style>
    <!-- Google Maps API script -->
    <script type="module" th:inline="javascript" th:unless="${itinerary.getActivityList.size == 0}">
      /*<![CDATA[*/
      let map;
      var latitude = parseFloat(/*[[${itinerary.activityList[0].lat}]]*/);
      var longitude = parseFloat(/*[[${itinerary.activityList[0].lng}]]*/);
      console.log("camera position", latitude , longitude);
      async function initMap() {

        const position = { lat: latitude, lng: longitude };

        const { Map } = await google.maps.importLibrary("maps");
        const { AdvancedMarkerElement } = await google.maps.importLibrary("marker");

        map = new Map(document.getElementById("map"), {
          zoom: 11,
          center: position,
          mapId: "DEMO_MAP_ID",
          streetViewControl: false,
          zoomControl: true,
          zoomControlOptions: {
            position: google.maps.ControlPosition.LEFT_CENTER,
          },
        });

        const bounds = new google.maps.LatLngBounds();
        // Iterate each activity for their position
        /*[# th:each="activity : ${itinerary.getActivityList}"]*/
        {
          const pos = {
            lat: parseFloat(/*[[${activity.lat}]]*/),
            lng: parseFloat(/*[[${activity.lng}]]*/)
          };
          placeMarker(/*[[${activity.location}]]*/"name", pos);
          bounds.extend(new google.maps.LatLng(pos.lat, pos.lng));
        }
        /*[/]*/
        function placeMarker(name, marker_position) {
          const marker = new AdvancedMarkerElement({
            map: map,
            position: marker_position,
            title: name,
          });
        }
        map.fitBounds(bounds);  
      }
      
      initMap();
      /*]]>*/
    </script>
    <!-- / Google Maps API script -->
</head>
<body>
    <main class="d-flex">
      <!-- Side Navigation Bar -->
        <div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark min-vh-100" style="width: 280px; position: fixed; left: 0px; right: 0px;">
            <a th:href="@{/home}" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
              <svg class="bi pe-none me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
              <span class="fs-4">Travlr.</span>
            </a>
            <hr>
            <ul class="nav nav-pills flex-column mb-auto">
              <li class="nav-item">
                <a th:href="@{/home}" class="nav-link text-white">
                  Dashboard
                </a>
              </li>

            </ul>
            <hr>
            <div class="dropdown">
              <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="https://avatars.githubusercontent.com/u/117494437?s=96&v=4" alt="" width="32" height="32" class="rounded-circle me-2">
                <strong><span th:text="${user.getUserName}"></span></strong>
              </a>
              <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                <li><button class="dropdown-item" data-bs-toggle="modal" data-bs-target="#newItineraryForm">New itinerary...</button></li>
                <li><a class="dropdown-item" href="#">Settings</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" th:href="@{/logout}">Sign out</a></li>
              </ul>
            </div>
        </div>
        <!-- / Side Navigation Bar -->
        
        <!-- Main Content -->
        <div class="container-fluid" style="margin-left: 280px;">
          <div th:if="${errorMessage}" class="alert alert-info mt-2" role="alert">
            <span th:text="${errorMessage}"></span>
          </div>
          <div th:object="${itinerary}" class="container mt-3">
              <div class="card border-5">
                <div class="card-body">
                  <div class="row m-3 d-flex justify-content-between align-items-start">
                    <h1 class="card-title" th:text="*{name}"></h1>
                    <h3 class="card-subtitle text-muted" th:text="*{country}"></h3>
                  </div>
                  <h3 class="row m-5 card-text mt-3" th:text="*{description}" ></h3>
                  <div class="row mt-3" th:if="${itinerary.getActivityList.size == 0}" >Your activity list is empty..</div>
                  <a class="btn btn-outline-success m-3" th:href="@{'/itinerary/' + ${user.getUserName}} + '/' + ${iid} + '/add'"><img th:src="@{/icons/add_icon.svg}" alt=""></a>
                </div>
              </div>
          </div>
            
          <div th:unless="${itinerary.getActivityList.size == 0}" th:each="activity, iterStat: ${itinerary.getActivityList}" class="m-3">
            <!-- Row -->
            <div class="row row-cols-1">
              <div class="col-lg-3 p-0">
                <div class="card rounded h-100 text-center">
                  <div class="card-header py-3 row">
                    <h4 class="card-text col-5" th:text="'#'+${iterStat.index}">test</h4>
                    <h4 class="card-text col-7 text-start" th:text="${#temporals.dayOfWeekName(activity.dateTime)}">Card title</h4>
                  </div>
                  <div class="card-body">
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item"><span th:text="|${#temporals.hour(activity.dateTime)}:${#temporals.minute(activity.dateTime)}|"></span></li>
                      <li class="list-group-item" th:text="${#temporals.format(activity.dateTime, 'dd-MM-yyyy')}">Card title</li>
                    </ul>
                  </div>
                  <div class="card-footer">
                    <a th:href="@{|/itinerary/${user.userName}/${iid}/${activity.id}/delete|}" class="btn btn-outline-danger"><img th:src="@{/icons/delete_icon.svg}" alt=""></a>
                    <a th:href="@{|/itinerary/${user.userName}/${iid}/${activity.id}/edit|}" class="btn btn-outline-secondary"><img th:src="@{/icons/settings_icon.svg}" alt=""></a>
                    <a th:href="@{|/itinerary/${user.userName}/${iid}/${activity.id}/move/up|}" class="btn btn-outline-secondary"><img th:src="@{/icons/up_icon.svg}" alt=""></a>
                    <a th:href="@{|/itinerary/${user.userName}/${iid}/${activity.id}/move/down|}" class="btn btn-outline-secondary"><img th:src="@{/icons/down_icon.svg}" alt=""></a>
                  </div>
                </div>
              </div>
              <div class="col-lg-9 p-0">
                <div class="card mb-3 h-100">
                  <img th:if="${activity.image.length != 0}" th:src="@{${activity.image}}" class="card-img-top img-fluid" style="height: 150px; width: 100%;" alt="">
                  <img th:unless="${activity.image.length != 0}" src="https://st4.depositphotos.com/17828278/24401/v/450/depositphotos_244011872-stock-illustration-image-vector-symbol-missing-available.jpg" class="card-img-top img-fluid" style="height: 150px; width: 100%;" alt="">
                  <div class="card-body">
                    <h5 class="card-title" th:text="${activity.location}"></h5>
                    <p class="card-text" th:text="${activity.remarks}"></p>
                    <p class="card-text"><small class="text-body-secondary" th:text="${activity.formatted_address}"></small></p>
                  </div>
                </div>
              </div>
            </div>
            <!-- /Row -->
          </div>
        <!-- / Main Content -->

        <!-- Map Content -->
          <div th:unless="${itinerary.getActivityList.size == 0}" id="map" class="p-3 mb-2">
            <script>(g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})
              ({key: "AIzaSyAlS0oNnsQ96WpEMT9XHq4i56HOD2D0eNk", v: "weekly"});</script>
          </div>
        <!-- / Map Content -->

        </div>

    </main>

<!-- Modal for itinerary form -->
<div class="modal fade" id="newItineraryForm" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">New Itinerary</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <form th:method="post" th:action="@{/create}">
            <div class="modal-body">
                <div class="input-group mb-1">
                    <span class="input-group-text">Name</span>
                    <input type="text" name="name" class="form-control">
                </div>
                <div class="input-group mb-1">
                    <span class="input-group-text">Country</span>
                    <input type="text" name="country" class="form-control">
                </div>
                <div class="input-group">
                    <span class="input-group-text">Description</span>
                    <textarea name="description" class="form-control"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
        </form>

      </div>
    </div>
</div>

  
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>