<html>
  <head>
    <title>Add Map</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

    <link rel="stylesheet" type="text/css" th:href="@{/styles/style.css}" />
    <script type="module" th:src="@{/scripts/index.js}"></script>
  </head>
  <body>
    <h3>My Google Maps Demo</h3>
    <!--The div element for the map -->
    <div id="map"></div>

    <!-- add API key here -->
    <script>(g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})
        ({key: "AIzaSyB41DRUbKWJHPxaFjMAwdrzWzbVKartNGg", 
        v: "weekly"});
    </script>
  </body>
</html>

<!-- Form -->
<div class="card mx-auto mt-8 ">
  <form class="card border-light-subtle body p-4" th:object="${user}" th:method="post" th:action="@{/login}">
    <div th:if="${#fields.hasErrors('userName')}" class="alert alert-info alert-dismissible fade show" role="alert">
      <div th:errors="*{userName}"></div>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <div th:if="${#fields.hasErrors('password')}" class="alert alert-info alert-dismissible fade show" role="alert">
      <div th:errors="*{password}"></div>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <div class="input-group mb-1">
      <span class="input-group-text" id="basic-addon1">@</span>
      <input type="text" class="form-control" id="username" aria-label="Username" placeholder="Username"
        th:field="*{userName}">
    </div>
    <div class="input-group mb-1">
      <input type="password" class="form-control" id="password" placeholder="Password" th:field="*{password}">
      <button class="btn btn-outline-primary" type="submit">Login</button>
    </div>

    <div class="row pt-1">
      <a href="/register" class="text-center">Don't have an account?</a>
    </div>
  </form>
</div>
<!-- /Form -->